<p>If you would like to contact the band. Write them a nice letter, then throw it in your <br />
fireplace. Chant an ancient prayer. You know the one. Their manager will hear your words in <br />
a dream, and get back to you in 3-5 business days. </p>